.head-1 {
    background: url(main-img/bags-img/most-iconic-it-bags.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    text-align: center;
}
.blrh {
    width: 100%;
    height: 100%;
    display: flex;
    backdrop-filter: blur(2px);
}
.head-1 h1 {
    color: white;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    font-size: 200px;
    text-shadow: 0 0 9px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}
.blnk {
    height: 150px;
    background-color: #CAECED;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.dior {
    display: flex;
    background: linear-gradient(to left, #D2D4D3, rgb(148, 148, 148));
}
.dior-img {
    background-image: url(main-img/bags-img/bag-main.avif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 20px;
    padding: 30px;
    display: flex;
    z-index: 999;
    float: left;
    margin-right: 50%;
    transition: all 300ms ease-out;
    position:absolute;
}
.dior h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;
    margin-top: auto;
    margin-bottom: 10px;
    margin-left: 20px;
    text-shadow: 0px 0px 8px;
}
.dior-aciklama {
    background:#D2D4D3;
    height: 600px;
    width: 50%;
    display: flex;
    padding: 30px;
    animation: myMove 10s infinite;
    z-index: 1;
    position: relative;
}
.dior-list ul li {
    list-style:inside disc !important;
     font-size: 19px;
     margin-top: 1rem;
}
.dior-aciklama a {
    float: right;
    margin-left: auto;
    margin-top: auto;
}
.dior-aciklama button {
    background-color: transparent;
    border: 1px solid gray;
    padding: 10px;
    width: 140px;
    height: 50px;
    float: right;
    margin-left: auto;
    margin-top: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px gray;
    transition: all 500ms;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 18px;
}
.dior-aciklama button:hover {
    scale: 1.05;
}
.dior-aciklama h2, .dior-aciklama li {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;

}
.gucci {
    display: flex;
    background: linear-gradient(to right, #c9ae90, #F6EDDD);
}
.gucci-img {
    background-image: url(main-img/bags-img/gucci.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 20px;
    padding: 30px;
    display: flex;
    z-index: 999;
    float: right;
    margin-left: 50%;
    transition: all 300ms ease-out;
    position:absolute;
}
.gucci h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;
    margin-top: auto;
    margin-bottom: 10px;
    margin-left: 20px;
    text-shadow: -8px -5px 5px #81582F;
}
.gucci-aciklama {
    background:#c9ae90;
    height: 600px;
    width: 50%;
    display: flex;
    padding: 30px;
    animation: myMove2 10s infinite;
    z-index: 1;
    margin-left: auto;
    position: relative;
}
.gucci-list ul li {
    list-style:inside disc !important;
     font-size: 19px;
     margin-top: 1rem;
}
.gucci-aciklama a {
    float: right;
    margin-left: auto;
    margin-top: auto;
}
.gucci-aciklama button {
    background-color: transparent;
    border: 1px solid gray;
    padding: 10px;
    width: 140px;
    height: 50px;
    float: right;
    margin-left: auto;
    margin-top: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px gray;
    transition: all 500ms;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 18px;
}
.gucci-aciklama button:hover {
    scale: 1.05;
}
.gucci-aciklama h2, .gucci-aciklama li {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;

}
.prada {
    display: flex;
    background: linear-gradient(to left, #B1C0DF, #8399CA);
}
.prada-img {
    background-image: url(main-img/bags-img/prada.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 20px;
    padding: 30px;
    display: flex;
    z-index: 999;
    float: left;
    margin-right: 50%;
    transition: all 300ms ease-out;
    position:absolute;
}
.prada h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;
    margin-bottom: 10px;
    margin-left: 20px;
    text-shadow: 0px 0px 8px black;
}
.prada-aciklama {
    background:#B1C0DF;
    height: 600px;
    width: 50%;
    display: flex;
    padding: 30px;
    animation: myMove3 10s infinite;
    z-index: 1;
    position: relative;
}
.prada-list ul li {
    list-style:inside disc !important;
     font-size: 19px;
     margin-top: 1rem;
}
.prada-aciklama a {
    float: right;
    margin-left: auto;
    margin-top: auto;
}
.prada-aciklama button {
    background-color: transparent;
    border: 1px solid gray;
    padding: 10px;
    width: 140px;
    height: 50px;
    float: right;
    margin-left: auto;
    margin-top: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px gray;
    transition: all 500ms;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 18px;
}
.prada-aciklama button:hover {
    scale: 1.05;
}
.prada-aciklama h2, .prada-aciklama li {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;

}
.lacoste {
    display: flex;
    background: linear-gradient(to right, #ff5757, #CAECED);
}
.lacoste-img {
    background-image: url(main-img/bags-img/lacoste.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 20px;
    padding: 30px;
    display: flex;
    z-index: 999;
    float: right;
    margin-left: 50%;
    transition: all 300ms ease-out;
    position:absolute;
}
.lacoste h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;
    margin-bottom: 10px;
    margin-left: auto;
    text-shadow: -8px 5px 5px #64939D;
}
.lacoste-aciklama {
    background:#73d7ff;
    height: 600px;
    width: 50%;
    display: flex;
    padding: 30px;
    animation: myMove4 10s infinite;
    z-index: 1;
    margin-left: auto;
    position: relative;
}
.lacoste-list ul li {
    list-style:inside disc !important;
     font-size: 19px;
     margin-top: 1rem;
}
.lacoste-aciklama a {
    float: right;
    margin-left: auto;
    margin-top: auto;
}
.lacoste-aciklama button {
    background-color: transparent;
    border: 1px solid gray;
    padding: 10px;
    width: 140px;
    height: 50px;
    float: right;
    margin-left: auto;
    margin-top: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px gray;
    transition: all 500ms;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 18px;
}
.lacoste-aciklama button:hover {
    scale: 1.05;
}
.lacoste-aciklama h2, .lacoste-aciklama li {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;

}
@keyframes myMove {
    50% {
        background-color: #b8b8b8;
    }
}
@keyframes myMove2 {
    50% {
        background-color: #f7e2bd;
    }
}
@keyframes myMove3 {
    50% {
        background-color: #B1C0DF;
    }
}
@keyframes myMove4 {
    50% {
        background-color: #CAECED;
    }
}
